 /* Opera/IE 8+ */
 .opentextinput-component {
     .opentextinput-item {
         background-color: @primary-color;
         padding: @item-padding;
         position:relative;
         margin-bottom:2px;
     }
     label {
         background-color: transparent;
         line-height: 32px;
         padding: 0px;
         float: left;
         text-align: center;
         cursor: default;
         color: @inverted-foreground-color;
     }
     .opentextinput-item-prefix {
         width:20%;
     }
     .opentextinput-item-textbox {
         font-family:'Open Sans', sans-serif;
         font-weight: 300;
         -webkit-box-sizing: border-box;
         /* Safari/Chrome, other WebKit */
         -moz-box-sizing: border-box;
         /* Firefox, other Gecko */
         box-sizing: border-box;
         padding: 5px;
         width: 100%;
         float: left;
         min-height: 50px;
         resize: none;
     }
     .opentextinput-item-suffix {
         width:10%;
     }
     .opentextinput-modelanswer {
         display: none;
         width: 48%;
         min-height: 50px;
         resize: none;
         border-color: rgb(169, 169, 169);
         -webkit-appearance: textarea;
         background-color: rgb(235, 235, 228);
         border: 1px solid;
         border-image-source: initial;
         border-image-slice: initial;
         border-image-width: initial;
         border-image-outset: initial;
         border-image-repeat: initial;
         -webkit-rtl-ordering: logical;
         -webkit-user-select: text;
         flex-direction: column;
         resize: auto;
         cursor: auto;
         padding: 5px;
         white-space: pre-wrap;
         word-wrap: break-word;
         float: left;
     }
     .button {
         outline: none;
         text-decoration: none;
         padding: @button-padding;
         color: @button-text-color;
         background-color: @button-color;
         display: none;
         margin-top:8px;
         &.submit, &.save, &.clear {
             display: inline-block;
         }
     }
     .opentextinput-widget {
         &.submitted {
             .button.submit, .button.save, .button.reset, .button.clear {
                 display: none;
             }
             .opentextinput-item {
                 background-color: @item-disabled-color;
             }
         }
         &.user {
             .button.model {
                 display: inline-block;
             }
         }
         &.model {
             .button.user {
                 display: inline-block;
             }
             .opentextinput-select-icon {
                 display: none;
             }
         }
         &.disabled {
             .button.reset {
                 display: none;
             }
         }
     }
     .opentextinput-item-state {
         background: none;
         position: absolute;
         right: (@icon-size/2);
         width: @icon-size;
         height: @icon-size;
         top: 50%;
         margin-top: -(@icon-size/2);
         z-index: 0;
     }
 }
 .no-touch {
     .button {
         &:hover {
             color: @button-text-hover-color;
             background-color: @button-hover-color;
         }
     }
 }
 .hide-model, .hide-user {
     display: none !important;
     visibility: hidden !important;
 }
